@media (max-width: 1028px) {
    h1 {
        font-size: 4rem;
        line-height: 1.7;
        text-align: center;
    }

    .the-btns {
        text-align: center;
    }

    .title-image {
        text-align: center;
    }
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

#gamer {
    color: aqua;
}

#features {
    padding: 7% 14%;
    position: relative;
    background-color: antiquewhite;
}

#testimonials {
    text-align: center;
    background-color: aquamarine;
}

#press {
    text-align: center;
    background-color: aquamarine;
    padding-bottom: 3%;
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 14%;
}

#footer {
    padding: 7% 14%;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.title-image {
    width: 60%;
    margin-left: 5rem;

}

/* Nav bar */
.container-fluid {
    padding: 3% 12% 7%;

}

.navbar {
    padding: 0 0 4.5rem;

}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

/* Download Button */

.downBtn {
    margin: 5% 3% 5% 0;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: cornflowerblue;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;

}

.testimonial-image {
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 14%;
}

.pricing-col {
    padding: 3% 2%;
}

.cta-heading {
    font-size: 5rem;
    line-height: 2;
}

.footer-icon {
    margin: 20px 10px;
}